<div class="ar p-5">
<div class="ac l20 m50 s100 aione-align-center">
<div class="site-title">
<div class="title font-size-25 grey darken-4">TEMPLATE</div>
<div class="tagline font-size-20 primary-color">CORPORATE</div>
</div>
</div>
<div class="ac l60 m50 s100">
<div class="">
<nav id="aione_nav" class="aione-nav horizontal">
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0">
<a href="index.html"><span class="pr-25 nav-item-text" data-hover="Home">Home</span></a>
<ul id="aione_menu" class="aione-menu sub-menu">
<li class="aione-nav-item level0"><a href="home-1.html"><span class="nav-item-text grey darken-4">Home-01</span></a></li>
<li class="aione-nav-item level0"><a href="home-2.html"><span class="nav-item-text grey darken-4">Home-02</span></a></li>
<li class="aione-nav-item level0"><a href="home-3.html"><span class="nav-item-text grey darken-4">Home-03</span></a></li>
<li class="aione-nav-item level0"><a href="onepage.html"><span class="nav-item-text grey darken-4">One page</span></a></li>
<li class="aione-nav-item level0"><a href="onepage-2.html"><span class="nav-item-text grey darken-4">One page-2 </span></a></li>
<li class="aione-nav-item level0"><a href="onepage-3.html"><span class="nav-item-text grey darken-4">One page-3</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="about.html"><span class="pr-25 nav-item-text" data-hover="Home">About</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="about-1.html"><span class="nav-item-text">About-01</span></a></li>
<li class="aione-nav-item level0"><a href="about-2.html"><span class="nav-item-text">About-02</span></a></li>
<li class="aione-nav-item level0"><a href="about-3.html"><span class="nav-item-text">About-03</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="Pages.html"><span class="pr-25 nav-item-text" data-hover="Pages">Pages</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="page-1.html"><span class="nav-item-text">Page-Login</span></a></li>
<li class="aione-nav-item level0"><a href="page-2.html"><span class="nav-item-text">Page-404</span></a></li>
<li class="aione-nav-item level0"><a href="page-3.html"><span class="nav-item-text">Page-404 error</span></a></li>
<li class="aione-nav-item level0"><a href="page-4.html"><span class="nav-item-text">Page-Account Detail</span></a></li>
<li class="aione-nav-item level0"><a href="page-5.html"><span class="nav-item-text">Page-Login</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="services.html"><span class="pr-25 nav-item-text" data-hover="Services">Services</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="gallery.html"><span class="nav-item-text">Gallery</span></a></li>
<li class="aione-nav-item level0"><a href="services-1.html"><span class="nav-item-text">Service-1</span></a></li>
<li class="aione-nav-item level0"><a href="services-2.html"><span class="nav-item-text">Service-2</span></a></li>
<li class="aione-nav-item level0"><a href="services-3.html"><span class="nav-item-text">Service-3</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="blog.html"><span class="pr-25 nav-item-text" data-hover="Home">Blog</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="blog-1.html"><span class="nav-item-text">Blog-1</span></a></li>
<li class="aione-nav-item level0"><a href="blog-2.html"><span class="nav-item-text">Blog-2</span></a></li>
<li class="aione-nav-item level0"><a href="blog-right-side-img.html"><span class="nav-item-text">Blog Right Side</span></a></li>
<li class="aione-nav-item level0"><a href="blog-left-side-img.html"><span class="nav-item-text">Blog Left Side</span></a></li>
<li class="aione-nav-item level0"><a href="single-post-right-side.html"><span class="nav-item-text">Single Post Right Side</span></a></li>
<li class="aione-nav-item level0"><a href="single-post-left-side.html"><span class="nav-item-text">Single Post Left Side</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="portfolio-01.html"><span class="pr-25 nav-item-text" data-hover="Home">Portfolio</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="portfolio-01.html"><span class="nav-item-text">portfolio-01</span></a></li>
<li class="aione-nav-item level0"><a href="portfolio-02.html"><span class="nav-item-text">portfolio-02</span></a></li>
<li class="aione-nav-item level0"><a href="portfolio-03.html"><span class="nav-item-text">portfolio-03</span></a></li>
<li class="aione-nav-item level0"><a href="portfolio-04.html"><span class="nav-item-text">portfolio-04</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="pricing.html"><span class="pr-25 nav-item-text" data-hover="Pricing">Pricing</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="pricing1.html"><span class="nav-item-text">pricing1</span></a></li>
</ul>
</li>
<li class="aione-nav-item level0">
<a href="contact.html"><span class="pr-25 nav-item-text" data-hover="Home">Contact</span></a>
<ul id="aione_menu" class="aione-menu">
<li class="aione-nav-item level0"><a href="contact-1.html"><span class="nav-item-text">Contact-01</span></a></li>
<li class="aione-nav-item level0"><a href="contact-2.html"><span class="nav-item-text">Contact-02</span></a></li>
<li class="aione-nav-item level0"><a href="contact-3.html"><span class="nav-item-text">Contact-03</span></a></li>
<li class="aione-nav-item level0"><a href="contact-4.html"><span class="nav-item-text">Contact-04</span></a></li>
</ul>
</li>
</ul>
</nav>
</div>
</div>
<div class="ac l20 m20 s100">
<div class="pt-15 aione-align-right pr-20 icon-hover">
<span class="border-icon-1 mr-3"><i class="ion-ios-search-strong font-size-20"> </i></span>
<span class="border-icon"><i class="ion-bag font-size-20"></i></span></div>
</div>
</div>
</div>
<style type="text/css">.aione-nav.horizontal{border-bottom:0}.icon-hover i:hover{color:#168dc5;transition:all .4s}ul li span:hover{color:#168dc5;transition:all .4s}.site-title .title,.site-title .tagline{font-weight:700;letter-spacing:1.1px}.aione-footer{margin:0}.aione-nav.horizontal>ul>li>ul>li{border-bottom:1px solid #f2f2f2;padding:4px 0}.sub-menu li{color:#168dc5;background-color:#fff}.aione-nav.horizontal>ul>li>ul{background:#fff;box-shadow:2px 3px 8px 1px rgba(116,110,110,0.15)}.aione-nav.horizontal>ul>li>ul{width:400px;border:0}.aione-nav.horizontal>ul>li>ul>li>a:hover{background-color:#fff;color:#168dc5}.aione-nav.horizontal>ul>li>ul>li>a{font-size:14px}.border-icon-1{padding:5px 3px 2px 7px;border:1px solid #e8e8e8;color:#1685c2}.border-icon{border:1px solid #e8e8e8;padding:5px 6px 2px 7px;color:#1685c2}.primary-color{color:#1685c2}</style>